In [39]:
import pandas as pd
import numpy as np

# Pearson Correlation

$$
\huge r = \frac{\sum_{i=1}^n (x - \overline{x})(y - \overline{y})}
{\sqrt{\sum_{i=1}^n (x - \overline{x})^2}\sqrt{\sum_{i=1}^n (y - \overline{y})^2}}
$$

In [1]:
        users = {"Angelica": {"Blues Traveler": 3.5, "Broken Bells": 2.0, 
                        "Norah Jones": 4.5, "Phoenix": 5.0,
                        "Slightly Stoopid": 1.5,
                        "The Strokes": 2.5, "Vampire Weekend": 2.0},
        "Bill": {"Blues Traveler": 2.0, "Broken Bells": 3.5,
                    "Deadmau5": 4.0, "Phoenix": 2.0,
                    "Slightly Stoopid": 3.5, "Vampire Weekend": 3.0},
        "Chan": {"Blues Traveler": 5.0, "Broken Bells": 1.0,
                    "Deadmau5": 1.0, "Norah Jones": 3.0,
                    "Phoenix": 5, "Slightly Stoopid": 1.0},
        "Dan": {"Blues Traveler": 3.0, "Broken Bells": 4.0,
                    "Deadmau5": 4.5, "Phoenix": 3.0,
                    "Slightly Stoopid": 4.5, "The Strokes": 4.0,
                    "Vampire Weekend": 2.0},
        "Hailey": {"Broken Bells": 4.0, "Deadmau5": 1.0,
                    "Norah Jones": 4.0, "The Strokes": 4.0,
                    "Vampire Weekend": 1.0},
        "Jordyn": {"Broken Bells": 4.5, "Deadmau5": 4.0, "Norah Jones": 5.0,
                    "Phoenix": 5.0, "Slightly Stoopid": 4.5,
                    "The Strokes": 4.0, "Vampire Weekend": 4.0},
        "Sam": {"Blues Traveler": 5.0, "Broken Bells": 2.0,
                    "Norah Jones": 3.0, "Phoenix": 5.0,
                    "Slightly Stoopid": 4.0, "The Strokes": 5.0},
        "Veronica": {"Blues Traveler": 3.0, "Norah Jones": 5.0,
                        "Phoenix": 4.0, "Slightly Stoopid": 2.5,
                        "The Strokes": 3.0}}

In [6]:
df = pd.DataFrame(users)
df

                  Angelica  Bill  Chan  Dan  Hailey  Jordyn  Sam  Veronica
Blues Traveler         3.5   2.0   5.0  3.0     NaN     NaN  5.0       3.0
Broken Bells           2.0   3.5   1.0  4.0     4.0     4.5  2.0       NaN
Norah Jones            4.5   NaN   3.0  NaN     4.0     5.0  3.0       5.0
Phoenix                5.0   2.0   5.0  3.0     NaN     5.0  5.0       4.0
Slightly Stoopid       1.5   3.5   1.0  4.5     NaN     4.5  4.0       2.5
The Strokes            2.5   NaN   NaN  4.0     4.0     4.0  5.0       3.0
Vampire Weekend        2.0   3.0   NaN  2.0     1.0     4.0  NaN       NaN
Deadmau5               NaN   4.0   1.0  4.5     1.0     4.0  NaN       NaN

In [10]:
ser = df["Angelica"].notna()
# df["Angelica"].loc[ser == True]
ser

Blues Traveler       True
Broken Bells         True
Norah Jones          True
Phoenix              True
Slightly Stoopid     True
The Strokes          True
Vampire Weekend      True
Deadmau5            False
Name: Angelica, dtype: bool

In [48]:
def pearson(user1, user2):
    ser1 = user1.notna()
    user1 = user1.loc[ser1 == True]
    user2 = user2.loc[user1.index]
    ser2 = user2.notna()
    user2 = user2.loc[ser2 == True]
    user1 = user1.loc[user2.index]

    x_mean = user1.mean()
    y_mean = user2.mean()
    
    x_dev = (user1.to_numpy() - x_mean)
    y_dev = (user2.to_numpy() - y_mean)

    x_dev2 = x_dev ** 2
    y_dev2 = y_dev ** 2
    
    xy_dev = x_dev * y_dev
    cov_xy = xy_dev.mean()

    sx = np.sqrt(x_dev2.mean())
    sy = np.sqrt(y_dev2.mean())

    # print(cov_xy)
    # print(sx)
    # print(sy)

    # print(cov_xy/(sx * sy))

    return float(cov_xy/(sx * sy))

In [50]:
pearson(df["Angelica"], df["Jordyn"])

0.7639748605475433